<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="mb-3">
        <form action="autenticarcorreo" method="post">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" name="correito"id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
        <textarea placeholder="escribe algo"class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" onclick="enviarEmailcorreo()">Enviar</button>  
</form> 
    </div>
    <script>

    </script>

</body>
</html>