<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body onload="mostrarCarrito()">
  <%- include ('parcials/navbar')%>
    <section class="h-100 gradient-form" style="background-color: rgb(184, 184, 184);">
      <div id="alertaexito" class="alert alert-success" role="alert" style="display: none;">
        Registrado exitosamente!
      </div>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black" style="background-color: rgb(68, 68, 68);">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                      <img src="https://www.pngplay.com/wp-content/uploads/13/Versace-Logo-Free-PNG.png"
                        style="width: 185px;" alt="modelos">
                      <h6 style="color: white;">Datos de envío</h6><br>
                    </div>
                    <%- include ('parcials/carrito')%>
                      <form action="finalizarcompra" method="post">
                        <div class="form-outline mb-4">
                          <div class="form-outline mb-4 col-md-6 d-flex justify-content-between w-100">
                            <input type="text" id="nombrecompra" class="form-control me-1" placeholder="Nombre"
                              name="nomcompra" required /> <br>
                            <input type="text" id="apellidocompra" class="form-control ms-1" placeholder="Apellido"
                              name="apecompra" required /> <br>
                          </div>
                          <input type="text" id="telefonocompra" class="form-control" placeholder="Telefono/Celular"
                            name="telcompra" required> <br>
                          <input type="email" id="emailcompra" class="form-control" placeholder="Correo electronico"
                            name="correocompra" required><br>
                        </div>
                        <input type="hidden" id="carritocompra" name="carritocompra" readonly>
                        <button class="btn btn-warning" type="submit"> Pagar </button>
                        <div id="alerta" class="alert alert-warning" role="alert" style="display: none;">
                          Las contraseñas no coinciden. Por favor, inténtalo de nuevo.
                        </div>
                      </form>

                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4" id="contenidoCarrito">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function limpiarCarrito() {
        localStorage.removeItem("carritocookie");
      }

      document.getElementById("carritocompra").value = localStorage.getItem("carritocookie"); // Llenamos el input con la información del carrito
      console.log(localStorage.getItem("carritocookie"))
      // Función para mostrar el contenido del carrito en el formulario
      function mostrarCarrito() {
        //Donde se mostrará el contenido del carrito
        const divCarrito = document.getElementById('contenidoCarrito');

        // Obtener el contenido del carrito almacenado en localStorage
        const carrito = JSON.parse(localStorage.getItem('carritocookie')) || [];
        console.log('este es '+carrito)
        // Limpiar el contenido previo del div
        divCarrito.innerHTML = '';

        // Recorrer los productos del carrito y mostrarlos en el formulario
        carrito.forEach((producto) => {
          const divProducto = document.createElement('div');
          divProducto.innerHTML = `
        <div class="form-outline mb-4">
          <input type="text" class="form-control" value="${producto.nombre}" disabled />
          <input type="text" class="form-control" value="$${producto.precio}" disabled />
          <input type="number" class="form-control" value="${producto.cantidad}" disabled />
        </div>
      `;
          divCarrito.appendChild(divProducto);
        });
      }

      // Llamar a la función para mostrar el contenido del carrito cuando se cargue la página
      //window.addEventListener('load', mostrarCarrito);



      function llenar(id, ref, nombre, descripcion, precio, stock, estado) {
        idact.value = id;
        refact.value = ref;
        nomact.value = nombre;
        descact.value = descripcion;
        precioact.value = precio;
        stockact.value = stock;
        estadoact.value = estado;
      }
    </script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>

</body>

</html>